  <!-- Navigation bar -->
<header class="header" [class.scrolled]="isScrolled" id="header">
  <div class="container">
    <nav class="navbar">
      <div class="logo">
        <a href="#">Ferienwohnung Mondial</a>
      </div>

      <ul class="nav-menu">
        <li><a routerLink="/" class="nav-link">Startseite</a></li>
        <li><a routerLink="/golden-twenties" class="nav-link">Golden Twenties</a></li>
        <li><a routerLink="/martini-racing" class="nav-link">Martini Racing</a></li>
        <li><a routerLink="/booking" class="nav-link">Kontakt & Buchung</a></li>
        <li *ngIf="username$ | async as username" class="nav-link username-display d-flex align-items-center gap-2">
          <i class="bi bi-person-circle"></i>
          {{ username }}
        </li>

      </ul>

      <button class="mobile-menu-btn" id="mobileMenuBtn">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </nav>
  </div>
</header>