
<div class="login-wrapper">
    <div class="login-card">

        <h2 class="text-center mb-4 fw-bold">Login</h2>

        <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

        <form (ngSubmit)="login()">
            <div class="mb-3">
                <label class="form-label">E-Mail</label>
                <input class="login-input" [(ngModel)]="email" name="email" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Passwort</label>
                <input type="password" class="login-input" [(ngModel)]="password" name="password" required>
            </div>

            <button class="btn btn-primary w-100 py-2 rounded-3 fw-semibold">Login</button>
        </form>

        <p class="text-center mt-3">
            Noch kein Konto?
            <a routerLink="/register" class="link-primary fw-semibold">Registrieren</a>
        </p>

    </div>
</div>
