
--><div class="login-wrapper">
    <div class="login-card">

        <h2 class="text-center mb-4 fw-bold">Registrieren</h2>

        <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

        <form (ngSubmit)="register()">

            <div class="mb-3">
                <label>Name</label>
                <input class="login-input" [(ngModel)]="name" name="name" required>
            </div>

            <div class="mb-3">
                <label>E-Mail</label>
                <input class="login-input" [(ngModel)]="email" name="email" required>
            </div>

            <div class="mb-3">
                <label>Passwort</label>
                <input type="password" class="login-input" [(ngModel)]="password" name="password" required>
            </div>

            <button class="login-button">Registrieren</button>
        </form>

        <p class="text-center mt-3">
            Bereits registriert?
    <a routerLink="/login">Login</a>

        </p>

    </div>
</div>
